module.exports = {
  consumerKey: '<yourTwitterConsumerKey>',
  consumerSecret: '<yourTwitterConsumerSecret>',
  accessToken: '<yourTwitterAccessToken>',
  accessTokenSecret: '<yourTwitterAccessTokenSecret'
};
