
@-webkit-keyframes updateCountAnimation1 {
  from {
    font-size: 30px;
    color: #428c25;
  }
  to {
    font-size: 15px;
    color: #fff;
  }
}

@keyframes updateCountAnimation1 {
  from {
    font-size: 30px;
    color: #428c25;
  }
  to {
    font-size: 15px;
    color: #fff;
  }
}

@-webkit-keyframes updateCountAnimation2 {
  from {
    font-size: 30px;
    color: #428c25;
  }
  to {
    font-size: 15px;
    color: #fff;
  }
}

@keyframes updateCountAnimation2 {
  from {
    font-size: 30px;
    color: #428c25;
  }
  to {
    font-size: 15px;
    color: #fff;
  }
}

@-webkit-keyframes fadeInTweet {
  from {
    height 0px
  }
  to {
    height 65px
  }
}

@keyframes fadeInTweet {
  from {
    height 0px
  }
  to {
    height 65px
  }
}