html
body
html
body
  font-size 0.8rem
  letter-spacing 0.1rem
  font-weight 100
  font-family: Helvetica, sans-serif;
  height:100%;
  overflow:hidden;

#site{
  ul{
    list-style none
    margin 0
    padding 0
  }
}



